DB_HOST=localhost
DB_PORT=5433
DB_USER=postgres
DB_PASSWORD=temukantest123
DB_NAME_TEST=temukan_test
DB_TIMEZONE=Asia/Jakarta

JWT_ACCESS_SECRET=your_jwt_access_secret_test_here
JWT_REFRESH_SECRET=your_jwt_refresh_secret_test_here
