# Server
PORT=8080
APP_ENV=development

# Database
DATABASE_URL="postgres://user:password@localhost:5432/dbname?sslmode=disable"

# JWT
JWT_ACCESS_SECRET=your_jwt_access_secret_here
JWT_REFRESH_SECRET=your_jwt_refresh_secret_here

# Cloudinary
CLOUDINARY_CLOUD_NAME=your_cloudinary_cloud_name
CLOUDINARY_API_KEY=your_cloudinary_api_key
CLOUDINARY_API_SECRET=your_cloudinary_api_secret


ALLOWED_ORIGINS=front_end_url


WORKER_COUNT=your_worker_count